# Node
node_modules/
.npm
package-lock.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# MacOS
.DS_Store

# Frontend build
dist/
build/

# Database
*.db
*.db-journal
*.db-wal

# Test results and temporary logs
*test_results.txt
db_out.txt
*.log
*.mp4


